/*Font & Icon
==========================*/

@font-face {
	font-family: 'Conv_brandon_light-webfont';
	src: url('../fonts/brandon_light-webfont.eot');
	src: url('../fonts/brandon_light-webfont.woff') format('woff'), url('../fonts/brandon_light-webfont.ttf') format('truetype'), url('../fonts/brandon_light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-lzjcw7');
	src:url('../fonts/icomoon.eot?#iefix-lzjcw7') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-lzjcw7') format('woff'),
		url('../fonts/icomoon.ttf?-lzjcw7') format('truetype'),
		url('../fonts/icomoon.svg?-lzjcw7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
	font-size: 1.9em;
	color: #ec6f66;
}

	.icon-arrow-down:hover:before {
		content: '\e600';
		color: #933a33;
	}



/*Typography
==========================*/
body{
	font-family: 'Conv_brandon_light-webfont', sans-serif;
}

h1,h2,h3,h4{
	font-family: 'Conv_brandon_light-webfont', sans-serif;
}

h1{
	font-weight: 900;
}

.nav li a{
	font-size: 1.2em;
	color: #504a46;
}

.logo{
	font-weight: 900;
}

.jumbotron h1{
	font-size: 2.3em;
	letter-spacing: .03em;
	color: #49433f;
}
.jumbotron h2{
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: .03em;
	color: #49433f;
}


.job{
	color: white;
}

.job h2{
	font-size: 1.8em;
	font-weight: 900;
	color: white;
	text-transform: uppercase;
	line-height: 1.4em;
}

.job .btn{
	text-transform: uppercase;
	letter-spacing: .2em;
	margin-bottom: 50px;
	text-shadow:0 1px 0 rgba(184,52,52,1);
	box-shadow: 0 1px 0 rgba(184,52,52,1);
}


.grid *{
	@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
	font-family: 'Lato', sans-serif;
	font-family: 'Conv_brandon_light-webfont', 'Lato',sans-serif;

}

/*Layout 
==========================*/

a:hover{
	text-decoration: none;
}

.container{
	max-width: 1000px;
}

.navbar{
	background-color: #f3f0f0;
	margin-bottom: 0;
	border-right: none;
	border-left: none;
}

.nav li a{
	padding-top: 15px;
	padding-bottom: 15px;
}

.logo{
	padding-top: 10px;
	/*background: red;*/
}

.jumbotron.intro{
	background-color: #f3f0f0;
}

	.intro{
		padding-top: 200px;
		margin-bottom: 0;
	}

	.col-sm-6{
		/*background: red;*/
	}

	.c-align{
		text-align: center;
	}

	.circle{
		display:inline-block;
		border-radius: 50%;
		background: white;
		margin-bottom: 30px;
	}

	.pic{
		display: inline-block;
		border-radius: 50%;
		width: 200px;
		height: 200px;
		background: white;
		margin-top: 10px;
		background-image: url(../img/pic.png);
		background-repeat: no-repeat;
		background-position: -214px 10px;
		background-size: cover;
		background-color: #f3f0f0;
		border: 5px solid #7d7d7d;


	}
		.pic:hover{
			background-position: 0 10px;
		}

	.text-intro{
		margin-top: 20px;	
	}


.arrow{
	text-align: center;
	/*background: red;*/
	margin-top: 200px;
}


/*Job
------------------------*/
.jumbotron.job{
	background-color: #ec6f66;
	overflow: hidden;
	height: 750px;
	margin-bottom: 0;
}

	.job .left{
		/*background: red;*/
		padding: 0;
		padding-top: 200px;
		text-align: center;

	}
		.left h2{
			/*background: green;*/
			padding: 0;
			width: 100%;
		}

		.job .btn{
			background: none;
			border: 3px solid rgba(255,255,255,.5);
			border-radius: 1px;

			margin-top: 50px;
		}

			.job .btn:hover{
				border: 3px solid white;
			}

	.job .right{
		/*background: white;*/
	}
		.job .right img{
			width: 120%;
			height: 100%;
			border-radius: 5px;
			box-shadow: -10px 30px 2px 1px rgba(189,102,96,.6);

			-webkit-animation: browser 3s ease-in-out 0s infinite  alternate none;
			-moz-animation: browser 3s ease-in-out 0s infinite  alternate none;
			-o-animation: browser 3s ease-in-out 0s infinite  alternate none;
			animation: browser 3s ease-in-out 0s infinite  alternate none;
		}




/*Process
------------------------*/
.jumbotron.process{
	background-color: #f3f0f0;
	margin-bottom: 0;
}

.sub-title{
	font-size: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .1em;
	text-align: center;

	margin-bottom: 100px;
}

.icon{
	padding:30px 0 20px 0;
}
	.icon_desc{
		line-height: 1.5em;
		font-size: .9em;
		margin: 20px 0 80px 0;
		/*color: red;*/
	}

.circle.icon_proc{
	width: 150px;
	height: 150px;
	background-image: url('../img/icon_pic.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -3px 0px;
	background-color: none;
}

	.icon_proc.create{
		background-position: -192px 0px;
	}
	.icon_proc.execute{
		background-position: -379px 0px;
	}


/*Project
------------------------*/
.jumbotron.project{
	/*background-color: lightblue;*/
	background-color: #f3f0f0;
	background-color: #3498d6;
	background-color: #52be7f;

	margin-bottom: 0;
	padding-bottom: 5px;
	padding-top: 10px;
}

.grid .sub-title{
	margin-bottom: 90px;
	margin-top: 0px;
	color: white;
	font-family: 'Conv_brandon_light-webfont', 'Lato',sans-serif;
}

.grid{
	max-width: 1000px;
	width: 90%;
	margin: 40px auto 120px;
}

	.grid a{
		float:left;
		width: 32%;
		/*height: 500px;*/
		color: #333;

		margin: .3em;

		/*overflow: hidden;*/
		border-radius: 10px;
	}

		.grid a:nth-child(3n){
			margin: 30px 0 -30px 0px;
		}

		.grid figure{
			width: 100%;
			position: relative;	
			overflow: hidden;
			margin: 5px 10px 5px 5px;
			background: #333;
			border-radius: 10px;
		}
		.grid figure img{
			width: 100%;
			display: block;
			position: relative;
			opacity: 0.7;
			-webkit-transition: opacity 0.3s;
			-moz-transition: opacity 0.3s;
			-ms-transition: opacity 0.3s;
			-o-transition: opacity 0.3s;
			transition: opacity 0.3s;
			border-radius: 10px;
		}

		.grid svg{
			position: absolute;
			top: -1px;
			/*left: -2px;*/
			z-index: 10;
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}
			.grid svg path{
				fill: #fff;
			}
		.grid figcaption{
			position: absolute;
			top: 0;
			z-index: 11;
			padding: 10px;
			text-align: center;
			width: 100%;
			height: 100%;
			/*border-radius: 10px;*/

		}
			.grid figcaption h2{
				margin: 0px 0 20px 0;
				color: #3498db;
				text-transform: uppercase;

				font-weight: 300;
				font-size: 130%;
				-webkit-transition: -webkit-transform 0.3s;
				-moz-transition: transform 0.3s;
				-ms-transition: transform 0.3s;
				-o-transition: transform 0.3s;
				transition: transform 0.3s;

			}

			.grid figcaption p{
				width: 100%;
				padding: 0 20px;
				color: #aaa;
				font-weight: 300;
				-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
				-moz-transition: opacity 0.3s, transform 0.3s;
				-ms-transition: opacity 0.3s, transform 0.3s;
				-o-transition: opacity 0.3s, transform 0.3s;
				transition: opacity 0.3s, transform 0.3s;
			}

			.grid figcaption h2, .grid figcaption p{
				-webkit-transform: translateY(50px);
				transform: translateY(50px);
			}

		.grid figure button{
			position: absolute;
			padding: 4px 20px;

			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 900;
			font-family: 'Lato',sans-serif;
			background: none;
			border: none;

			-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			-moz-transition: opacity 0.3s, transform 0.3s;
			-ms-transition: opacity 0.3s, transform 0.3s;
			-o-transition: opacity 0.3s, transform 0.3s;
			transition: opacity 0.3s, transform 0.3s;
		}

		.grid figcaption,
		.grid figcaption h2,
		.grid figcaption p,
		.grid figure button{
			backface-visibility: hidden;
		}


		/*Grid Common Hover
		=====================*/
		.grid a:hover figure img{
			opacity: 1;
		}

		.grid a:hover figcaption h2,
		.grid a:hover figcaption p {
			-webkit-transform: translateY(0px);
		}

		.grid a:hover figcaption p{
			opacity: 0;
		}


		/*Grid Unique Style
		=====================*/

			.demo-2.grid figcaption h2{
				color: #e74c3c;
			}
			.demo-2.grid figcaption p{
				-webkit-transition-delay: 0.05s;
				transition-delay: 0.05s;
			}

			.demo-2.grid figure button{
				top: 50%;
				left: 50%;

				-webkit-transform: translateX(-50px) translateY(-50px) scale(0.25);
				-moz-transform: translateX(-50px) translateY(-50px) scale(0.25);
				-ms-transform: translateX(-50px) translateY(-50px) scale(0.25);
				-o-transform: translateX(-50px) translateY(-50px) scale(0.25);
				-transform: translateX(-50px) translateY(-50px) scale(0.25);

				border: 3px solid white;
				color: white;
				opacity: 0;
			}

				.demo-2.grid a:hover figure button{
					opacity: 1;
					-webkit-transform: translateX(-50px) translateY(-50px) scale(1);
					-moz-transform: translateX(-50px) translateY(-50px) scale(1);
					-ms-transform: translateX(-50px) translateY(-50px) scale(1);
					-o-transform: translateX(-50px) translateY(-50px) scale(1);
					-transform: translateX(-50px) translateY(-50px) scale(1);

				}
			.demo-2.grid figcaption h2,
			.demo-2.grid figcaption p{
				-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
				timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);

			}

			.demo-2.grid figcaption p{
				-webkit-transition-delay : 0s;
						transition-delay : 0s;
				-webkit-transition-duration: 0.1s;
						transition-duration: 0.1s;
			}

		/*.demo-2.grid a:nth-child(6):hover figcaption h2{
			-webkit-transform: translateY(-7px);
		}*/


/*Skill
------------------------*/
.jumbotron.skill{
	background-color: lightgreen;
	background-color: #f3f0f0;
	margin-bottom: 0;
	/*padding-bottom: 140px;*/
	padding: 80px 0 80px 0;
	/*padding-top: 10px;*/
}
	.s_icon{
		text-align: center;
	}

	.skill .icon_proc{
		width: 100px;
		height: 100px;
		margin-right: 10px;
		background: yellow;
	}
	.skill .sub-title{
		margin-top: 50px;
		margin-bottom: 50px;
	}

#badges li{
	display: inline;
}
	#badges li:nth-child(32n+17){
		margin-left: 40px;
	}
	#badges li img{
		width: 80px;
		margin: -5px 2px 0px 0px;
	}
		#badges li img:hover{
			opacity: .7;
		}




/*Animation
==========================*/
@-webkit-keyframes browser{
  100%{
  		-webkit-transform: translate(0px,10px);
  		-moz-transform: translate(0px,10px);
  		-ms-transform: translate(0px,10px);
  		-o-transform: translate(0px,10px);
  		transform: translate(0px,10px);
        }
  50%{
  		-webkit-transform: translate(0px,0px);
  		-moz-transform: translate(0px,0px);
  		-ms-transform: translate(0px,0px);
  		-o-transform: translate(0px,0px);
  		transform: translate(0px,0px);
        }
  0%{
  		-webkit-transform: translate(0px, 10px);
  		-moz-transform: translate(0px,10px);
  		-ms-transform: translate(0px,10px);
  		-o-transform: translate(0px,10px);
  		transform: translate(0px,10px);
        }
}



/*Media Queries
==========================*/

@media(min-width: 1272px){
	.job .right img{
		position: relative;
		top:50px;


		box-shadow: -10px 10px 5px 1px rgba(0,0,0,.2);
	}
	.job .left h2{
		font-size: 2.3em;
	}

	.grid a{
		margin: 10px;
	}

	.demo-2.grid a:nth-child(6):hover figcaption h2{
			-webkit-transform: translateY(10px);
		}
}

/*Demo Project*/
@media screen and (max-width: 1000px){
	.grid figcaption h2,.grid figcaption p {
		-webkit-transform: translateY(10px);
	}
	.grid figcaption p{
		font-size: .8em;
	}
}


/*Demo Project*/
@media screen and (max-width: 840px){
	.grid{
		max-width: 900px;
		/*background: black;*/
	}

	.grid a:nth-child(3n){
		margin:0;
	}
	.grid a{
		width: 49%;
		margin: 0;
	}

		.grid a:nth-child(even){
			margin: 30px 10px -30px 0px;
		}

	.grid figcaption h2,.grid figcaption p {
	-webkit-transform: translateY(50px);
	}
	.grid figcaption p{
		font-size: 1em;
	}
}

@media (max-width: 767px){

	.pic{
		margin-top: -120px;
	}

	.text-intro{
		text-align: center;
		margin-top: 80px;
	}

	.arrow{
		margin-top :100px;
	}

	.job .left{
		padding-top: 90px;
	}
	.job .right{
		/*background: white;*/

	}
	.job .right img{
		width: 100%;
		/*height: 10%;*/
	}

	.circle{
		margin-bottom: 0;
	}
}

/*Demo Project*/
@media screen and (max-width: 620px){
	.grid {
		max-width: 300px;
		/*background: black;*/
	}

		.grid a:nth-child(even){
			margin: 0;
		}
		.grid a{
			width : 100%;
			margin: 0;
		}

		.demo-2.grid a{
			margin-bottom: 10px;
		}


}

@media(max-width:425px){
	.nav{
		visibility: hidden;
	}
	.logo{
		position: absolute;
	}

	.job .left{
		padding-top: 50px;
	}
}

@media(max-width: 400px){

	.jumbotron.intro{
		padding: 150px 0 0 0 ;
	}
	.pic{
		width: 130px;
		height: 130px;
		background-position: -135px 10px;
	}
	.text-intro h1{
		font-size: 1.4em;
		margin-top: -50px;
	}
	.text-intro h2{
		font-size: .9em;
	}
	.arrow{
		margin-top: 30px;
	}

	.jumbotron.job{
		height: 500px;
	}
		.job .right img{
			box-shadow: -7px 20px 2px 1px rgba(189,102,96,.6);
		}

	.jumbotron.process{
		padding: 0;
	}
		.sub-title{
			font-size: 1.3em;
			letter-spacing: .04em;
			margin-bottom: 50px;
		}

	/*.jumbotron.project{
		padding: 0;
	}*/

	.demo-2.grid .sub-title{
		margin-bottom: 15px;

	}

}




